@use "../../assets/styles/Variable.scss" as c;

.container {
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    width: 100%;
    height: 100%;
}

.content-title {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    height: max-content;
}

.title {
    font-size: c.$font-size-500 ;
    text-transform: uppercase;
    font-weight: 400;
}

.container-image {
    position: relative;
    width: 228px;
    height: 279px;
    flex-shrink: 0;
}

.image {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}