@use "../../assets/styles/Variable.scss" as c;

.preload-container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.title-preload {
    padding-top: 50%;
    font-size: c.$font-size-200;
    font-weight: 400;
    text-transform: uppercase;
}