@font-face {
    font-family: "Inconsolata";
    src: url("../assets/fonts/Inconsolata-Regular.ttf") format("truetype");
    font-weight: 400; // Regular
    font-style: normal;
}

@font-face {
    font-family: "Inconsolata";
    src: url("../assets/fonts/Inconsolata-Bold.ttf") format("truetype");
    font-weight: 700; // Bold
    font-style: normal;
}