@use "./Variable.scss" as c;
@use "./fonts";


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: c.$font-inconsolata;
}



.body-c {
    font-family: c.$font-inconsolata;
    box-sizing: border-box;
    background-color: black;
    color: White;
    cursor: crosshair;


}

.body-c::before {

    background-image: url(../image/bg-noise.avif);

    background-size: 180px 180px;
    background-repeat: repeat;
    content: "";
    height: 300%;
    left: -50%;
    opacity: .15;
    position: fixed;
    top: -100%;
    width: 300%;
    filter: blur(0.5px);
    z-index: -1;
    animation: grain 6s steps(10) infinite;
    color: white;
}


@keyframes grain {

    0%,
    100% {
        transform: translate(0, 0);
    }

    10% {
        transform: translate(-5%, -10%);
    }

    20% {
        transform: translate(-15%, 5%);
    }

    30% {
        transform: translate(7%, -25%);
    }

    40% {
        transform: translate(-5%, 25%);
    }

    50% {
        transform: translate(-15%, 10%);
    }

    60% {
        transform: translate(15%, 0);
    }

    70% {
        transform: translate(0, 15%);
    }

    80% {
        transform: translate(3%, 35%);
    }

    90% {
        transform: translate(-10%, 10%);
    }
}

a {
    text-decoration: none;
}